.table {
  width: 100%;
  border-spacing: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--palette-background-paper);
}

.table td,
.table th {
  height: 74px;
  padding: 16px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid var(--palette-background);
}

.table th {
  font-weight: 500;
  font-size: 14px;
  color: var(--palette-white);
}

.table td {
  font-weight: 300;
  font-size: 14px;
  color: var(--palette-font);
}
