@import "./termo.css";

* {
    transition: all 2ms ease;
}

html {
    overflow: auto;
}

header>div {
    display: flex;
    align-items: center;
    width: max-content;
}

header>div>* {
    margin-right: 0.75em;
}

header>div>*:last-child {
    margin-right: 0;
}

header #github {
    border: none;
}

main {
    color: white;
    height: 100%;
    font-size: 3em;
    font-weight: 300;
    line-height: 1rem;
}

main table {
    width: 100%;
}

main table th {
    align-items: center;
    border-radius: 5%;
    padding: 3rem;
    height: max-content;

}
main table td {
    align-items: center;
    border-radius: 5%;
    height: max-content;
    padding: 3rem;
}

main table th {
    font-weight: normal;
    background-color: #3aa394;
    border: none;
}


main table td {
    background-color: #615458;
    border: 0.125em solid #4c434730;
}

main h2 {
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.95;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 12px
}

*::-webkit-scrollbar-thumb {
    background: #625256;
    border-radius: 6px
}

@media (max-width: 600px) {
    main table {
        zoom: 1.2;
    }

    h2 {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    main table {
        zoom: 1.4;
    }
}

@media (max-width: 400px) {
    main table {
        zoom: 1.6;
    }
}
