html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    height: 100%;

}

body {
    margin: 0;
    min-height: 100%;

}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h3 {
    font-size: 0.5em;
}

h3 a {
    color: rgb(56, 221, 62);
    text-decoration: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

td img {
    width: 60px;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

fieldset {
    padding: .35em .75em .625em;
}

textarea {
    overflow: auto;
}

:root {
    --max-size: 700px;
    --kbd-height: min(100em/2.15, 25vh);
    --board-width: min(80em, (100vh - var(--kbd-height) - 12vh - 10vh) * 5/6);
    --letter-size: calc(var(--board-width)/5.5);
    --letter-font: calc(var(--letter-size)/1.75);
    --letter-gap: calc(var(--letter-size)/8);
}

html {
    background-color: #6e5c62;
    font-size: min(var(--max-size)/100, 100vw/100);
    margin: 0 30dvh;
    max-width: var(--max-size);
    overflow: hidden;
}

* {
    outline: none;
    touch-action: manipulation;
}

body {
    color: #fafaff;
    flex-direction: column;
    font-family: Mitr, sans-serif;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select:text;
}
/* 
body, h1 {
    font-weight: 800;
} */

h1 {
    font-size: 5vh;
    line-height: 3vh;
    margin: 10;
    text-align: left;
    text-transform: uppercase;
}

header {
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    grid-template-columns: 3vh 1fr 3vh;
    height: vh;
    padding: 1.5vh;
    width: 100%;
}

header button {
    align-items: center;
    background-color: transparent;
    border: 2px solid #b7aeb4;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    height: 3vh;
    justify-content: center;
    padding: 0;
    width: 3vh;
    z-index: 1000;
}

main {
    align-items: center;
    display: block;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 50;
    justify-content: center;
    margin: 4vh 2;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    width: 100%;
}

main::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

main::-webkit-scrollbar-thumb {
    background: #625256;
    border-radius: 6px;
}
